node_modules

.cache
.env
.vercel
.output

/build/
/public/build
/api/index.js
/api/index.js.map

qdrant-storage
api-cache

data/sangokushi
data/sangokushi_cleaned
data/sangokushi_structured
data/sangokushi_embedded
data/postgres

.env*
.flaskenv*
!.env.project
!.env.vault

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
