node_modules

.env
.vercel

/build/

data/sangokushi
data/sangokushi_cleaned
data/sangokushi_structured
data/sangokushi_embedded
data/postgres
data/sangokushi.db

.env*
!.env.project
!.env.vault

# Editor directories and files
.DS_Store

prisma/dev.db*